a {
	color: #9B370D;
}

a.new {
	color: #D60003;
}

a:hover,
a:focus {
	color: #52230F;
	text-decoration: underline;
	transition: 0.3s;
}

a.new:hover,
a.new:focus {
	color: #A90002;
	text-decoration: underline;
	transition: 0.3s;
}

a.external {
	color: #DEBB35;
}

a.external:hover,
a.external:focus {
	color: #AA9546;
	text-decoration: underline;
	transition: 0.3s;
}

.plainlinks a.external {
	color: #9B370D;
}

.plainlinks a.external:hover,
.plainlinks a.external:focus {
	color: #52230F;
	text-decoration: underline;
	transition: 0.3s;
}

.plainlinks a.external:before {
	content: '';
}
